@charset "UTF-8";

html, body {
	height: 100%;
	font-family:'Lato', sans-serif;
	font-size: 12px;
	font-weight: 300;
	letter-spacing: 1.25px;
	color: #FFFFFF;
	padding: 0px;
	margin: 0px;
	background-color: #FC5B2A;
}

a {
	text-decoration: none;
	color: #FFFFFF;
	display: block;
}

a:hover, a:visited, a:active {
	text-decoration: none;
	color: #FFFFFF;
	color: inherit;
}

/* ---- NAV ---- */

.navbar {
	position: fixed;
	height: 70px;
	width: 100%;
	top: 0px;
	background-color: #FC5B2A;
	z-index: 5;
	box-shadow: 0px 4px #de4a31;
}

.menuicon {
	height: 45px;
	width: 45px;
	background-color: #3FA9F5;
	border-radius: 100px;
	border-style: solid;
    border-width: 4px;
    border-color: #E6E6E6;
    box-shadow: 0px 4px #de4a31;
    margin: 10px 5px 10px 10px;
	display: inline-block;
}

.redbtn {
	height: 15px;
	width: 15px;
	background-color: #C13D23;
	border-radius: 50px;
    margin: 10px 5px 0px 0px;
	display: inline-block;
    vertical-align: top;
}

.yellowbtn {
	height: 15px;
	width: 15px;
	background-color: #FFFF00;
	border-radius: 50px;
    margin: 10px 5px 0px 0px;
	display: inline-block;
    vertical-align: top;
}

.greenbtn {
	height: 15px;
	width: 15px;
	background-color: #7AC943;
	border-radius: 50px;
    margin: 10px 5px 0px 0px;
	display: inline-block;
    vertical-align: top;
}

.header_space {
	height: 95px;
}

/* ---- MENU ---- */

.menu_body {
	position: absolute;
	background-color: #C13D23;
	padding: 0px;
	margin: 0px;
	width: 100%;
	height: 100%;
}

.menu_list {
	padding-top: 50px;
}

.menu_list a{
	font-size: 48px;
	letter-spacing: 10px;
	padding-top: 50px;
	padding-left: 15px;
}

/* ---- LIST ---- */

.container {
	width: 100%;
	margin: 0px 0px 20px 0px;
	padding: 0px 25px 0px 25px;
}

.itemitem, .listlist{
	padding-top: 95px;
}

.list_item{
	padding: 5px;
}

.list_item button {
	width: 100%;
	height: 90px;
	border: 0px ;
	text-align: left;
	background-color: #f2816d;
	border-radius: 5px;
}

.list_item img {
	max-height: 45px;
	margin: 0px auto 0px auto;
	display: block;
}

/* ---- ITEM ---- */

.ng-scope .main_space {
	height: auto;
}

.item_frame {
	width: 100%;
	height: 270px;
	padding: 25px;
	border-radius: 20px;
	border: 0px;
	background-color: #E6E6E6;
    box-shadow: 0px 4px #de4a31;
}

.item_window {
	width: 100%;
	height: 100%;
	background-color: #69BFF4;
	text-align: center;
	padding-top: 40px;
}

.item_window img{
	width: 150px;
	height: 150px;
}

.item_info{
	padding: 20px 0px 20px 0px;
}

.item_type {
	padding: 5px;
	margin-top: 5px;
	background-color: #FFFF00;
	color: #665138;
	width: 80px;
	font-weight: 600;
	text-align: center;
}

.item_stats {
	width: 100%;
	height: 30px;
	padding: 10px 0px 0px 0px;
	display: block;
}

.stats_name {
	height: 20px;
	float: left;
}

.outerbar {
	width: 70%;
	height: 20px;
	text-align: right;
	background-color: #de4a31;
	left: 90px;
	padding-right: 5px;
	display: block;
	float: right;
}

.innerbar {
	position: absolute;
	height: inherit;
	background-color: #FFFFFF;
}

input[type=checkbox] {
	float: right;
	display:none;
}
 
input[type=checkbox] + label, input[type=checkbox]:checked + label {
	height: 30px;
	width: 30px;
	display:inline-block;
	padding: 0px;
	border-radius: 40px;
    box-shadow: 0px 4px #de4a31;
	float: right;
}

input[type=checkbox] + label {
	background: url("../images/pokeball_unchecked.jpg");
	background-size: cover;
	border: 3px solid #666666;
}
input[type=checkbox]:checked + label {
	background: url("../images/pokeball_checked.jpg");
	background-size: cover;
	border: 3px solid #232323;
}

/* ---- STUFF ---- */

hr {
	border: 0px;
	height: 2px;
	color: #7A7A7A;
	background-color: #7A7A7A;
	width: 15%;
	margin: 0px auto 0px auto;
}



h1 {
	font-size: 36px;
	font-weight: 300;
	text-transform: uppercase;
	padding: 0px;
	margin: 0px;
}

.col-xs-6, .col-md-3 {
	padding-left: 5px;
	padding-right: 5px;
}