<!-- Main Page -->

<!-- Menu -->
<div class="menu_body animate-if" ng-if="currentPage == 0">
	<div class="menu_list">
		<a href="#/">LIST</a>
		<a href="#/">CAUGHT</a>
	</div>
</div>

<div class="container">

	<!-- Pokemon List -->
	<div class="listlist animate-if" ng-if="currentPage == 1">

		<div class="listAnimate" id="list" ng-repeat="pokemon in pokemonList">
			<div class="col-xs-4 col-md-2 list_item">
			<button class="updateData" ng-click="updateOutput(pokemon.ID)">
				#{{pokemon.ID}}
				<br><img src="http://pokeapi.co/media/img/{{pokemon.ID}}.png">
				{{pokemon.name}}
			</button>
			</div>
		</div>
	</div>


	<!-- Pokemon Item -->
	<div class="itemitem animate-if" ng-swipe-right="prev()" ng-swipe-left="next()" ng-if="currentPage == 2">

			<div class="item_frame">
				<div class="item_window" id="itemitem">
					<img src="" id="sprite">
				</div>
			</div>

			<div class="item_info">
				<span id="boxbox"></span><span id="boxbox1"></span>
			#<span id="id">000</span>
			</br><h1><span id="name">NAME</span></h1>
			<span id="type"></span><span id="type2"></span>
<!-- 			<div><p class="item_type" id="typeBoxID"><span id="type">TYPE</span></p></div>
 -->
			<p style="margin-top: 5px"><span id="description">If you see this, API is loading...</span></p>
		</div>

		<!-- Base Stats -->
		BASE STATS
		<div class="item_stats">
		<div class="stats_name">HP</div>
			<div class="outerbar">
				<div class="innerbar" id="hp_bar" style="width: 1%"></div><span id="hp"></span></div>
		</div>

		<div class="item_stats">
			<div class="stats_name">ATTACK</div>
			<div class="outerbar">
				<div class="innerbar" id="atk_bar" style="width: 1%"></div><span id="attack"></span></div>
		</div>	

		<div class="item_stats">
			<div class="stats_name">DEFENSE</div>
			<div class="outerbar">
				<div class="innerbar" id="def_bar" style="width: 1%"></div><span id="defense"></span></div>
		</div>	

		<div class="item_stats">
			<div class="stats_name">SP ATTACK</div>
			<div class="outerbar">
				<div class="innerbar" id="spatk_bar" style="width: 1%"></div><span id="sp_atk"></span></div>
		</div>	

		<div class="item_stats">
			<div class="stats_name">SP DEFENSE</div>
			<div class="outerbar">
				<div class="innerbar" id="spdef_bar" style="width: 1%"></div><span id="sp_def"></span></div>
		</div>	

		<div class="item_stats">
			<div class="stats_name">SPEED</div>
			<div class="outerbar">
				<div class="innerbar" id="spd_bar" style="width: 1%"></div><span id="speed"></span></div>
		</div>	

	</div>

</div>